n8n/workflows/resume-processing.json
{
  "name": "Resume Processing Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-resume",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-upload",
      "name": "Resume Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "resume-upload-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Process extracted resume data\nconst item = $input.first();\nconst extractedData = item.json.body?.extracted_data || item.json.extracted_data;\n\nif (!extractedData) {\n  throw new Error('No extracted data found');\n}\n\n// Return the extracted data for further processing\nreturn [{\n  json: {\n    ...extractedData,\n    original_filename: item.json.original_filename,\n    file_size: item.json.file_size,\n    upload_timestamp: item.json.upload_timestamp,\n    processing_timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "extract-text",
      "name": "Process Extracted Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Normalize skills and extract additional info\nconst skillMap = {\n  \"python\": [\"python\", \"py\"],\n  \"javascript\": [\"javascript\", \"js\", \"ecmascript\"],\n  \"react\": [\"react\", \"reactjs\", \"react.js\"],\n  \"node\": [\"node\", \"nodejs\", \"node.js\"],\n  \"aws\": [\"aws\", \"amazon web services\"],\n  \"docker\": [\"docker\", \"dockerfile\"],\n  \"postgresql\": [\"postgresql\", \"postgres\", \"pg\"],\n  \"fastapi\": [\"fastapi\", \"fast api\"],\n  \"django\": [\"django\"],\n  \"flask\": [\"flask\"]\n};\n\nconst text = $input.first().json.text || '';\nconst skills = $input.first().json.skills || [];\n\n// Normalize skills\nconst normalizedSkills = [];\nconst textLower = text.toLowerCase();\n\nfor (const [skill, variations] of Object.entries(skillMap)) {\n  for (const variation of variations) {\n    if (textLower.includes(variation)) {\n      normalizedSkills.push(skill);\n      break;\n    }\n  }\n}\n\n// Extract experience years\nconst expPatterns = [\n  /(\\d+)\\+?\\s*years?\\s*(?:of\\s*)?experience/gi,\n  /(\\d+)\\+?\\s*years?\\s*in\\s*\\w+/gi,\n  /experience:\\s*(\\d+)\\+?/gi\n];\n\nlet experienceYears = 0;\nfor (const pattern of expPatterns) {\n  const matches = text.match(pattern);\n  if (matches && matches.length > 0) {\n    experienceYears = parseInt(matches[0].match(/\\d+/)[0]);\n    break;\n  }\n}\n\n// Extract email\nconst emailPattern = /\\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Z|a-z]{2,}\\b/;\nconst email = text.match(emailPattern) ? text.match(emailPattern)[0] : '';\n\n// Extract location\nconst locationPatterns = [\n  /([A-Z][a-z]+,\\s*[A-Z]{2})/,\n  /([A-Z][a-z]+,\\s*[A-Z][a-z]+)/\n];\n\nlet location = '';\nfor (const pattern of locationPatterns) {\n  const match = text.match(pattern);\n  if (match) {\n    location = match[1];\n    break;\n  }\n}\n\nreturn {\n  json: {\n    ...$input.first().json,\n    normalized_skills: normalizedSkills,\n    experience_years: experienceYears,\n    extracted_email: email,\n    extracted_location: location,\n    processing_timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "normalize-data",
      "name": "Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generate embedding using proper JSON formatting\nconst item = $input.first();\nconst text = item.json.text || '';\n\n// Make the HTTP request with properly formatted JSON\nconst response = await $http.request({\n  method: 'POST',\n  url: 'http://embeddings:8002/embed',\n  headers: {\n    'Content-Type': 'application/json'\n  },\n  body: {\n    text: text\n  }\n});\n\nif (!response.embedding) {\n  throw new Error('Failed to generate embedding');\n}\n\nreturn {\n  json: {\n    ...item.json,\n    embedding: response.embedding,\n    embedding_generated: true\n  }\n};"
      },
      "id": "generate-embedding",
      "name": "Generate Embedding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "candidates",
        "columns": "id, name, email, location, work_authorization, total_years_experience, skills, raw_text, embedding, structured_data, created_at",
        "values": "={{ $json.extracted_name || $json.name || 'Unknown' }}, {{ $json.extracted_email || $json.email || '' }}, {{ $json.extracted_location || $json.location || '' }}, 'Unknown', {{ $json.experience_years || 0 }}, {{ JSON.stringify($json.normalized_skills || []) }}, {{ JSON.stringify($json.text || '') }}, {{ JSON.stringify($json.embedding || []) }}, {{ JSON.stringify($json) }}, NOW()",
        "options": {}
      },
      "id": "save-candidate",
      "name": "Save Candidate",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1340, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Resume processed successfully\",\n  \"candidate_id\": \"{{ $json.id }}\",\n  \"extracted_data\": {\n    \"name\": \"{{ $json.name }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"location\": \"{{ $json.location }}\",\n    \"skills\": {{ JSON.stringify($json.skills) }},\n    \"experience_years\": {{ $json.total_years_experience }}\n  }\n}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"message\": \"Workflow processing failed: {{ $json.error?.message || 'Unknown error' }}\"\n}",
        "responseCode": 400
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 500]
    }
  ],
  "connections": {
    "Resume Upload Webhook": {
      "main": [
        [
          {
            "node": "Try-Catch Wrapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Extracted Data": {
      "main": [
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Data": {
      "main": [
        [
          {
            "node": "Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {
            "node": "Save Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Candidate": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Extracted Data": {
      "main": [
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Data": {
      "main": [
        [
          {
            "node": "Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {
            "node": "Save Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Candidate": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "resume-processing",
      "name": "Resume Processing"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
